.cardItem {
  width: 20rem;
  height: 25rem;
  background-color: transparent;
  perspective: 1000px;
  margin: 1rem;
  cursor: pointer;
}
.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 2rem;
}
.cardItem:hover .cardInner {
  transform: rotateY(180deg);
}
.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
}
.cardFront img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.cardBack {
  background-color: #4a4a4a;
  transform: rotateY(180deg);
}
hr {
  width: 100%;
}
.cardBack {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
