.app {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 77%,
    rgba(92, 92, 92, 1) 100%
  );
  min-height: 100%;
}
.loadingSpinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingSpinner img {
  max-width: 10rem;
  max-height: 10rem;
}
